{{ "<!-- deployment block -->"  | safeHTML}}

<section id="deployment">
    <div class="container">
        <div class="intro-text">
            <h3>AI Application Development and Deployment <span class="select">Workflow</span></h3>

            <div class="scroller">
                <div class="item">
                    <h4>Data Acquuisition and Processing</h4>
                    <div class="desc">
                        <p>Conectors to multiple data sources</p>
                        <p>NFS storage</p>
                        <p>Support of popular data managment tools</p>
                    </div>
                </div>
                <div class="item">
                    <h4>Model Design</h4>
                    <div class="desc">
                        <p>Integration with data science IDEs and libraries</p>
                        <p>Support of all major ML frameworks</p>
                        <p>Enterprise template catalogue</p>
                        <p>Collaboration workspace</p>
                    </div>
                </div>
                <div class="item">
                    <h4>Model Training</h4>
                    <div class="desc">
                        <p>Distrubuled training</p>
                        <p>Optimazed for h/w accelerators</p>
                        <p>Resource/job scheduling</p>
                        <p>infrastructure monitoring</p>
                    </div>
                </div>
                <div class="item">
                    <h4>Evaluation</h4>
                    <div class="desc">
                        <p>Detalied metrics dashboard</p>
                        <p>Model versioning</p>
                        <p>Model benchmarking</p>
                    </div>
                </div>
                <div class="item">
                    <h4>
                        Integration
                    </h4>
                    <div class="desc">
                        <p>One-click serving</p>
                        <p>integration with existing CI/CD process</p>
                    </div>
                </div>
                <div class="item">
                    <h4>Deployment</h4>
                    <div class="item">
                        <p>Support of mul mobile, embedded)</p>
                    </div>
                </div>
                <div class="item">
                    <h4>Monitoring</h4>
                    <div class="item">
                        <p>Collecting performance metrics on live data</p>
                        <p>Triggering model retraining based on schedule/ events</p>
                    </div>
                </div>

            </div>


            <!--<div class="d-flex flex-row justify-content-between">-->

                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
            <!--</div>-->
            <!--<div class="space"></div>-->
            <!--<div class="d-flex flex-row justify-content-between">-->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
            <!--</div>-->
            <div class="space"></div>
            <div class="babel d-flex flex-row justify-content-between">
                <ul>
                    <li>Full support of hybrid cloud</li>
                    <li>Access polices</li>
                </ul>
                <ul>
                    <li>Resource/application orchesration</li>
                    <li>LDAP integration</li>
                </ul>
                <ul>
                    <li>Built-in workflow engine</li>
                    <li>Private repository</li>
                </ul>
            </div>
        </div>
    </div>
</section>

