{{ "<!-- development block -->"  | safeHTML}}

<section id="development">
    <div class="container">
        <div class="intro-text">
            <h3>Kuberlab Enables AI Application Development from <span class="select">Research to Production</span></h3>
            <p>Kuberlab’s solution for Enterprise AI development and deployment problems consists of a platform implemented in the cloud, or on-premise.</p>
            <p>This platform contains all the tools and automation required for the AI workflow. It also has an extensive catalog of pre-trained models and templates that can be used as a starting point for AI application development.</p>
            <p>This provides the collaboration environment to allow data scientists, developers and deployment teams to work together on the same environment.</p>
            <p>The platform does not impose any vendor lock-in for user code and compute clusters.</p>
        </div>
    </div>
</section>

