{{ "<!-- home block -->"  | safeHTML}}

<section id="home" class="fullscreen d-flex align-items-center">
    <!--<div class="graph-bg"></div>-->
    <img class="graph" src="img/index/graph.svg"/>
    <div class="container d-flex justify-content-between">
        <div class="intro-text">
                <h3><span class="select">The Foundation for the</span> Intelligent Enterprise</h3>
                <p>Enterprises are evolving to incorporate artificial intelligence into their business applications. AI brings great power, and many challenges. Kuberlab accelerate AI adoption and help to solve many challenges by introducing a new solution for Enterprise AI application development and deployment.</p>
                <div class="d-flex justify-content-start">
                    <a href="mailto:info@kuberlab.com" type="button" class="btn btn-primary">Request Demo</a>
                    <!--<a href="{{ .Site.Params.loginUrl }}" type="button" class="btn btn-primary">Try to now</a>-->
                </div>
        </div>
        <div class="media">

        </div>
    </div>

</section>

