{{ "<!-- product block -->"  | safeHTML}}

<section id="product">
    <div class="container">
        <div class="intro-text">
            <h3>Product Features</h3>
            <div class="d-flex flex-row justify-content-between flex-wrap">

                <div class="item d-flex justify-content-start ">
                    <h5>AI APPLICATIONS</h5><ul>
                    <li>Use a catalog of commonly used applications or easily add your own</li>
                    <li>Choose automatic or manual deployment and update</li>
                    <li>Manage application lifecycle for different environments (Development, QA, Staging, Production)</li>
                    <li>Use GIT for version control</li>
                </ul>
                </div>
                <div class="item d-flex justify-content-start justify-md-content-end">
                    <h5>Flexible Infrastructure Management</h5>
                    <ul>
                        <li>Automatic creation and update of clusters on public cloud:</li>
                        <ul>
                            <li>AWS</li>
                            <li>Google Cloud</li>
                            <li>Azure</li>
                        </ul>
                        <li>Support for custom bare-metal installations</li>
                        <li>Infrastructure monitoring tools</li>
                        <li>Single pane of management for all clusters</li>
                    </ul>
                </div>
                <div class="item d-flex justify-content-start">
                    <h5>Security</h5><ul>
                    <li>User applications have an additional layer of isolation</li>
                    <li>Configurable access model for containers in the cluster</li>
                    <li>Role-based cluster management</li>
                    <li>Support for multi-tenancy</li>
                </ul>
                </div>
                <div class="item d-flex justify-content-start justify-md-content-end">
                    <h5>Models</h5>
                    <ul>
                        <li>Catalog of pre-built AI application templates</li>
                        <li>AI applications that support various frameworks</li>
                        <li>On-demand, elastic resource allocation</li>
                        <li>Real-time monitoring of model execution: logs, metrics and resources</li>
                        <li>Model version management</li>
                        <li>Inference (start serving as a microservice on different clusters), and scaling</li>
                        <li>Data source integration</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

