{{ "<!-- RESOURCES block -->"  | safeHTML}}

<section id="resource" class="d-flex align-items-center fullscreen">
    <div class="container">
        <div class="intro-text d-flex flex-row align-items-center justify-content-center">
            <h3>Resources</h3>
            <ul>
                <li><a href="https://unsupervisedmethods.com/over-150-of-the-best-machine-learning-nlp-and-python-tutorials-ive-found-ffce2939bd78" target="_blank">&#2605; Over 150 of the Best Machine Learning, NLP and Python tutorials available </a></li>
                <li><a href="https://startupsventurecapital.com/essential-cheat-sheets-for-machine-learning-and-deep-learning-researchers-efb6a8ebd2e5" target="_blank" >&#2605; Deep Learning Cheat Sheets</a></li>
                <li><a href="http://colah.github.io/posts/2015-08-Understanding-LSTMs/" target="_blank" >&#2605; Understanding LSTM Networks</a></li>
                <li><a href="http://karpathy.github.io/2015/05/21/rnn-effectiveness/" target="_blank" >&#2605; The Unreasonable Effectiveness of Recurrent Neural Networks</a></li>
            </ul>
        </div>
    </div>
</section>

