@media (min-width: 768px) {

    /*.index section {*/
        /*padding: 150px 0;*/
    /*}*/

    .navbar .menu {
        display: flex!important;
        position: static;
        width: auto;
        padding-bottom: 0;
    }

    .navbar .menu li {
        margin-left: 2em;
        padding: 0;

    }

    .navbar .menu li a {
        padding:0;
    }

    .navbar .menu-botton{
        display: none
    }




}