@media (min-width: 576px) {

    .index section .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #home h3 {
        font-size: 24px;
    }
}


@media (min-width: 768px) {

    #home h3 {
        font-size: 30px;
    }

    .index section .container{
        padding-top: 130px;
        padding-bottom: 130px;
    }

    .navbar .menu {
        display: flex!important;
        position: static;
        width: auto;
        padding-bottom: 0;
    }

    .navbar .menu li {
        margin-left: 2em;
        padding: 0;

    }

    .navbar .menu li a {
        padding:0;
    }

    .navbar .menu-botton{
        display: none
    }




}