{{ "<!-- deployment block -->"  | safeHTML}}

<section id="deployment">
    <div class="container">
        <div class="intro-text">
            <h3>AI Application Development and Deployment Workflow</h3>
            <ul id="deploymentScroll" class="cs-hidden">
                <li class="item">
                    <div class="title babel">1. Data Acquuisition and Processing</div>
                    <ul class="content babel">
                        <li>Conectors to multiple data sources</li>
                        <li>NFS storage</li>
                        <li>Support of popular data managment tools</li>
                    </ul>
                </li>
                <li class="item">
                    <div class="title babel">2. Model Design</div>
                    <ul class="content babel">
                        <li>Integration with data science IDEs and libraries</li>
                        <li>Support of all major ML frameworks</li>
                        <li>Enterprise template catalogue</li>
                        <li>Collaboration workspace</li>
                    </ul>
                </li>
                <li class="item">
                    <div class="title babel">3. Model Training</div>
                    <ul class="content babel">
                        <li>Distrubuled training</li>
                        <li>Optimazed for h/w accelerators</li>
                        <li>Resource/job scheduling</li>
                        <li>infrastructure monitoring</li>
                    </ul>
                </li>
                <li class="item">
                    <div class="title babel">4. Evaluation </div>
                    <ul class="content babel">
                        <li>Detalied metrics dashboard</li>
                        <li>Model versioning</li>
                        <li>Model benchmarking</li>
                    </ul>
                </li>
                <li class="item">
                    <div class="title babel">5. Integration</div>
                    <ul class="content babel">
                        <li>One-click serving</li>
                        <li>integration with existing CI/CD process</li>
                    </ul>
                </li>
                <li class="item">
                    <div class="title babel">6. Deployment</div>
                    <ul class="content babel">
                        <li>Support of mul mobile, embedded)</li>
                    </ul>
                </li>
                <li class="item">
                    <div class="title babel">7. Monitoring</div>
                    <ul class="content babel">
                        <li>Collecting performance metrics on live data</li>
                        <li>Triggering model retraining based on schedule/ events</li>
                    </ul>
                </li>
            </ul>

            <div class="f-s"></div>
            <div class="stepsPoint d-flex flex-column flex-md-row justify-content-between">
                <ul class="d-flex flex-wrap flex-row justify-content-between">
                    <li class="col-12 col-sm-4 col-md-3"><i class="i-w1"></i> Full support of hybrid cloud</li>
                    <li class="col-12 col-sm-4 col-md-3"><i class="i-w2"></i> Access polices</li>
                    <li class="col-12 col-sm-4 col-md-3"><i class="i-w3"></i> Resource/application orchesration</li>
                    <li class="col-12 col-sm-4 col-md-3"><i class="i-w4"></i> LDAP integration</li>
                    <li class="col-12 col-sm-4 col-md-3"><i class="i-w5"></i> Built-in workflow engine</li>
                    <li class="col-12 col-sm-4 col-md-3"><i class="i-w6"></i> Private repository</li>
                </ul>
            </div>
        </div>
    </div>
</section>

