{{ "<!-- deployment block -->"  | safeHTML}}

<section id="deployment">
    <div class="container">
        <div class="intro-text">
            <h3>AI Application Development and Deployment <span class="select">Workflow</span></h3>
             <!--<div class="d-flex flex-column flex-md-row justify-content-between">-->
             <div class="scroll">
                 <div class="scroll-container d-flex flex-row align-items-stretch">
                    <div class="step d-flex flex-column">
                        <div class="title babel">Data Acquuisition and Processing</div>
                        <ul class="content babel">
                            <li>Conectors to multiple data sources</li>
                            <li>NFS storage</li>
                            <li>Support of popular data managment tools</li>
                        </ul>
                    </div>
                    <div class="step d-flex flex-column">
                        <div class="title babel">Model Design</div>
                        <div class="content babel">
                            <li>Integration with data science IDEs and libraries</li>
                            <li>Support of all major ML frameworks</li>
                            <li>Enterprise template catalogue</li>
                            <li>Collaboration workspace</li>
                        </div>
                    </div>
                    <div class="step d-flex flex-column">
                        <div class="title babel">Model Training</div>
                        <div class="content babel">
                            <li>Distrubuled training</li>
                            <li>Optimazed for h/w accelerators</li>
                            <li>Resource/job scheduling</li>
                            <li>infrastructure monitoring</li>
                        </div>
                    </div>
                    <div class="step d-flex flex-column">
                        <div class="title babel">Evaluation </div>
                        <div class="content babel">
                            <li>Detalied metrics dashboard</li>
                            <li>Model versioning</li>
                            <li>Model benchmarking</li>
                        </div>
                    </div>
                    <div class="step d-flex flex-column">
                        <div class="title babel">Integration</div>
                        <div class="content babel">
                            <li>One-click serving</li>
                            <li>integration with existing CI/CD process</li>
                        </div>
                    </div>
                    <div class="step d-flex flex-column">
                        <div class="title babel">Deployment</div>
                        <div class="content babel">
                            <li>Support of mul mobile, embedded)</li>
                        </div>
                    </div>
                    <div class="step d-flex flex-column">
                        <div class="title babel">Monitoring</div>
                        <div class="content babel">
                            <li>Collecting performance metrics on live data</li>
                            <li>Triggering model retraining based on schedule/ events</li>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="f-s"></div>
            <div class="babel d-flex flex-column flex-md-row justify-content-between">
                <ul class="col-sm-12 col-sm-6 col-md-4">
                    <li>Full support of hybrid cloud</li>
                    <li>Access polices</li>
                </ul>
                <ul class="col-sm-12 col-sm-6 col-md-4">
                    <li>Resource/application orchesration</li>
                    <li>LDAP integration</li>
                </ul>
                <ul class="col-sm-12 col-sm-6 col-md-4">
                    <li>Built-in workflow engine</li>
                    <li>Private repository</li>
                </ul>
            </div>
        </div>
    </div>
</section>

