{{ "<!-- teasers block -->"  | safeHTML}}

<section id="dev" class=" d-flex align-items-center theme-blue">
    <!--<img class="graph" src="img/index/graph.svg"/>-->
    <div class="container d-flex flex-column align-items-md-center">

        <h3>KuberLab Enables AI Application<br/>
            <span class="select">Developmentfrom Research to Production</span>
        </h3>
        <div class="intro-text  d-flex flex-column flex-md-row align-items-baseline align-items-md-top">

            <div class="item col-md-4">
                <div class="img" style="background-image:url(img/dev-1.jpg) "></div>
                <p>KuberLab's platform for Enterprise AI development and deployment can be implemented in the cloud or on-premise. This platform contains all the tools and automation required for the AI workflow from inception to operation.</p>
            </div>
            <div class="item col-md-4">
                <div class="img" style="background-image:url(img/dev-2.jpg) "></div>
                <p>We provide an extensive catalog of pre-trained models and templates that can be used as a starting point for AI application development.</p>
            </div>
            <div class="item col-md-4">
                <div class="img" style="background-image:url(img/dev-3.jpg) "></div>
                <p>Our solution facilitates collaboration between data science, development, and operations teams by allowing them to work together in the same environment regardless of local or cloud deployments.</p>
            </div>
        </div>

    </div>
</section>

