{{ "<!-- Footer section -->" | safeHTML }}
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rDemo">
        Request Demo
    </button>
</div>

<footer>
  <div class="top"></div>
  <div class="block">
    <div class="theme-dark container d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center">
        <div >
          <a href="mailto:info@kuberlab.com" >info@kuberlab.com</a>    |    415.517.5668
        </div>
        <div>
          &copy;2017 KuberLab Inc. All Rights Reserved.
        </div>
      </div>
    </div>
</footer>
