{{ "<!-- home block -->"  | safeHTML}}

<section id="home" class="theme-blue d-flex align-items-stretch">
    <!--<img class="graph" src="img/index/graph.svg"/>-->
    <div class="container d-flex flex-column flex-md-row align-items-md-center justify-content-between">
        <div class="intro-text col-md-7">
                <h3>The Foundation for the<br/> <span class="select">Intelligent Enterprise</span></h3>
                <p>Enterprises are evolving to incorporate artificial intelligence into their business applications. AI brings great power, and many challenges. Kuberlab accelerate AI adoption and help to solve many challenges by introducing a new solution for Enterprise AI application development and deployment.</p>
                <div class="d-flex justify-content-start">
                    <a href="mailto:info@kuberlab.com"><button  class="btn btn-primary">Request Demo</button></a>
                </div>
        </div>
        <div class="intro-media d-none d-md-block col-md-5">
            <img src="img/img-hime-big.png" class="rounded z-depth-1-half" style="margin: auto; display: block" />
        </div>
    </div>
</section>

