{{ "<!-- multi-cloud block -->"  | safeHTML}}

<section id="multi-cloud" >
    <img src="img/index/cloud_1.svg" class="bg" />
    <div class="container">
        <!--<h3>Multi-Cloud Elastic Environment</h3>-->
        <div class="d-flex flex-md-row flex-column justify-content-center">
            <div class="item">
                <div class="title">
                    <img src="img/index/cloud_1.svg"/>
                    <div class="logo">kuber<span class="select">lab</span></div>
                </div>
                <p>The Kuberlab Platform deployed in the cloud, connecting the enterprise to clusters in the Public Cloud</p>
            </div>
            <div class="f-s"></div>
            <div class="item">
                <div class="title">
                    <img src="img/index/cloud_1.svg"/>
                    <div class="logo">kuber<span class="select">lab</span></div>
                </div>
                <p>The Kuberlab Platform deployed in a Private Cloud environment, completely within the Enterprise</p>
            </div>
        </div>
    </div>
</section>

