{{ "<!-- RESOURCES block -->"  | safeHTML}}

<section id="resource" class="d-flex align-items-center fullscreen theme-darkblue">
    <div class="container">
        <div class="intro-text d-flex flex-column justify-content-center ">
            <h3>Resources</h3>
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-start flex-wrap">
                <a class="col-sm-6 col-md-3 d-flex flex-column  justify-content-center" href="https://unsupervisedmethods.com/over-150-of-the-best-machine-learning-nlp-and-python-tutorials-ive-found-ffce2939bd78" target="_blank"><div class="point">&#9733; </div><div>Over 150 of the Best Machine Learning, NLP and Python tutorials available </div></a>
                <a class="col-sm-6 col-md-3 d-flex flex-column  justify-content-center" href="https://startupsventurecapital.com/essential-cheat-sheets-for-machine-learning-and-deep-learning-researchers-efb6a8ebd2e5" target="_blank" ><div class="point">&#9733; </div><div>Deep Learning Cheat Sheets</div></a>
                <a class="col-sm-6 col-md-3 d-flex flex-column  justify-content-center" href="http://colah.github.io/posts/2015-08-Understanding-LSTMs/" target="_blank" ><div class="point">&#9733; </div><div>Understanding LSTM Networks</div></a>
                <a class="col-sm-6 col-md-3 d-flex flex-column  justify-content-center" href="http://karpathy.github.io/2015/05/21/rnn-effectiveness/" target="_blank" ><div class="point">&#9733; </div><div>The Unreasonable Effectiveness of Recurrent Neural Networks</div></a>
            </div>
            <!--<ul >-->
                <!--<li><a href="https://unsupervisedmethods.com/over-150-of-the-best-machine-learning-nlp-and-python-tutorials-ive-found-ffce2939bd78" target="_blank"><div class="point">&#9733; </div><div>Over 150 of the Best Machine Learning, NLP and Python tutorials available </a></li>-->
                <!--<li><a href="https://startupsventurecapital.com/essential-cheat-sheets-for-machine-learning-and-deep-learning-researchers-efb6a8ebd2e5" target="_blank" ><div class="point">&#9733; </div><div>Deep Learning Cheat Sheets</a></li>-->
                <!--<li><a href="http://colah.github.io/posts/2015-08-Understanding-LSTMs/" target="_blank" ><div class="point">&#9733; </div><div>Understanding LSTM Networks</a></li>-->
                <!--<li><a href="http://karpathy.github.io/2015/05/21/rnn-effectiveness/" target="_blank" ><div class="point">&#9733; </div><div>The Unreasonable Effectiveness of Recurrent Neural Networks</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</section>

