{{ "<!-- workflow block -->"  | safeHTML}}

<section id="workflow" class="d-flex align-items-center fullscreen theme-darkblue">
    <div class="container">
        <div class="intro-text d-flex flex-column justify-content-center ">
            <h3>Multi-Cloud Elastic Environment</h3>
            <p>The KuberLab Platform deployed in the cloud, connecting the enterprise to clusters in the Public Cloud</p>
            <div class="babel">
                <img class="d-none d-xl-block" src="img/sheme-big.png"/>
                <img class="d-none d-md-block d-xl-none" src="img/sheme-med.png"/>
                <img class="d-md-none" src="img/sheme-sm.png"/>
            </div>
        </div>
    </div>
</section>

